html {
    font-size: 62.5%;
    line-height: 1.4;
}

body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;

    margin: 0;
    padding: 0;
    font-family: Roboto,Helvetica Neue,sans-serif;
}

body, html, app-root, .dashboard {
    height: 100%;
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%;
    font: inherit; */
    vertical-align: baseline;
}

.layout, .layout-column, .layout-row {
    box-sizing: border-box; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: flex;
}

.layout-column, .layout-row {
    -webkit-box-direction: normal;
}

.layout-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.layout-column {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.layout-padding {
    padding: 8px;
}

.layout-margin {
    margin: 8px;
}

.md-whiteframe-4dp, .md-whiteframe-z2 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.md-whiteframe-8dp {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.flex {
    -webkit-box-flex: 1;
    box-sizing: border-box;
    -webkit-flex: 1;
    flex: 1;
}

.light-soft {
    color: rgba(255,255,255,.87)
}

.light-strong {
    color: #fff;
}

.md-divider {
    display: block;
    border-top-color: rgba(0,0,0,0.12);
    border-top-width: 1px;
    border-top-style: solid;
    margin: 0;
}

.backdrop-state app-sidenav {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 300px !important;
}


/* ngx-datatable.material */
.datatable-row-wrapper {    
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.datatable-row-wrapper:last-child {    
    border-bottom: none;
}

.ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: #E91E63 !important;
    color: #fff !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    color: inherit !important;
}